.form-label-left{
    width:150px;
}
.form-line{
    padding-top:3px;
    padding-bottom:3px;
}
.form-label-right{
    width:150px;
}
body, html{
    margin:0;
    padding:0;
    background:#FFFFFF;
}

.form-all{
    margin:0px auto;
    padding-top:20px;
    width:525px;
    color:#555 !important;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
    font-size:14px;
}
.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
    color: #555555;
}

.form-all {
  font-family: Lucida Grande, sans-serif;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-family: Lucida Grande, sans-serif;
}
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
  font-family: Lucida Grande, sans-serif;
}
.form-header-group {
  font-family: Lucida Grande, sans-serif;
}
.form-label {
  font-family: Lucida Grande, sans-serif;
}

.form-label.form-label-auto {
    display: inline-block;
    /* float: left; */
    text-align: left;
}

.form-line {
  margin-top: 3px 3px 3px 3pxpx;
  margin-bottom: 3px 3px 3px 3pxpx;
}

.form-all {
  width: 525px;
}

.form-label-left,
.form-label-right,
.form-label-left.form-label-auto,
.form-label-right.form-label-auto {
  width: 150px;
}

.form-all {
  font-size: 14px
}
.form-all .qq-upload-button,
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-size: 14px
}
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
  font-size: 14px
}

.supernova .form-all, .form-all {
  background-color: #FFFFFF;
  border: 1px solid transparent;
}

.form-all {
  color: #555;
}
.form-header-group .form-header {
  color: #555;
}
.form-header-group .form-subHeader {
  color: #555;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label {
  color: #555;
}
.form-sub-label {
  color: #6f6f6f;
}

.supernova {
  background-color: undefined;
}
.supernova body {
  background: transparent;
}

.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: undefined;
}

.supernova {
  background-image: none;
}
#stage {
  background-image: none;
}

.form-all {
  background-image: none;
}

.form-all {
  position: relative;
}
.form-all:before {
  content: "";
  background-image: url("https://www.jotform.com/uploads/sainiujju195/form_files/logocircle.5d7cc10a77a987.07819325.png");
  display: inline-block;
  height: 140px;
  position: absolute;
  background-size: 143px 140px;
  background-repeat: no-repeat;
  width: 100%;
}
.form-all {
  margin-top: 150px !important;
}
.form-all:before {
  top: -150px;
  background-position: top center;
}

.ie-8 .form-all:before { display: none; }
.ie-8 {
margin-top: auto;
margin-top: initial;
}

.form-all {
border: 1px solid #712c86;
border-radius:15px;
box-shadow: 8px 8px 4px #b7A8BC;
}
